.grid-input-value {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
}
.grid-input-value-2 {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    margin-top: 10px;
}

.grid-confirmation {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    display: block;
    font-size: calc(var(--sidebar-width) * 0.4);
    text-align: center;
    margin: 0 0 10px;
}

select,
input[type='range'] {
    font-size: 1em;
    width: 90%;
    margin: auto;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.confirmation-button,
.action-button {
    color: white;
    padding: 5px 0;
    border: solid black 2px;
    border-radius: 3px;
    outline: none;
}

.cancel {
    background-color: rgb(125, 125, 125);
    border-color: rgb(100, 100, 100);
}

.confirm {
    background-color: rgb(37, 37, 135);
    border-color: rgb(37, 37, 100);
}

.confirmation-button:hover,
.action-button:hover {
    filter: brightness(90%);
}

.confirmation-button:focus {
    filter: brightness(80%);
}
