#container {
	background-color:#483D8B;
	height: 100vh;
	display: flex;
	justify-content: center;
	#white {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		width: 31.25rem;
		-webkit-box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
		box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
	}
}

#form-group {
	width: 80vw;
	max-width: 21.875rem;
	display: flex;
	flex-direction: column;
	#register-div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1.875rem;
		margin-top: 1.25rem;
	}
}
.title{
	text-align: center;
    color:#483D8B;
    width: 80vw;
	max-width: 21.875rem;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 31.25rem;

}
#create-new-button {
	color : black;
	background-color:#483D8B ;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	border-radius: 25px;
	cursor: pointer;
   
}