<div id="container">
    <div id="white">
        <h2 class="title">Draw It Up!</h2>
        <form id="form-group" [formGroup]="resetForm">
            <mat-form-field id="password" appearance="outline">
                <mat-label> Mot de passe </mat-label>
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="this.resetForm.controls.password.invalid">
                    Utilisez 8 caractères ou plus, une minuscule, une majuscule et un nombre
                </mat-error>
            </mat-form-field>
            <mat-form-field id="confirmPassword" appearance="outline">
                <mat-label>Confirmer mot de passe </mat-label>
                <input matInput type="password" formControlName="confirmPassword" />
                <mat-error *ngIf="!confirmPassWord()">Ces mots de passe ne correspondent pas</mat-error>
            </mat-form-field>
            <mat-error *ngIf="invalidSubmit">Le formulaire est invalide </mat-error>
            <mat-error *ngIf="fail">L'adresse e-mail saisie est déjà associée à un compte</mat-error>
            <div id="register-div">
                <mat-spinner *ngIf="waiting" diameter="25"></mat-spinner>
                <button id="create-new-button" *ngIf="!waiting" mat-flat-button color="primary" type="submit" (click)="reset()">
                    Créer un nouveau mot de passe
                </button>
            </div>
        </form>
    </div>
</div>
