li {
    font-weight: bold;
}

#guideButton {
    color: white;
    background-color: #483d8b;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

img {
    width: 70%;
    height: 70%;
    border: 1px solid black;
}
