.title {
    text-align: center;
    color: #302e40;
    font-size: 2em;
    font-weight: bold;
    font-family: Helvetica;
}

#export-preview-canvas {
    max-width: 700px;
    max-height: 400px;
    text-align: center;
}

#buttonCancel,
#buttonExportPNG,
#buttonExportJPG,
#buttonSendEmailPNG,
#buttonSendEmailJPG {
    margin-top: 30px;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-family: Gillsans, sans-serif;
    color: white;
    background-color: rgb(53, 53, 79);
    border-color: rgb(53, 53, 79);
    border-radius: 5px;
    cursor: pointer;
    margin: 4px 9px;
}

.name {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
}

.email {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
}
