<div class="container">
    <h1 class="title">Exporter un dessin</h1>
    <p>
        <canvas id="export-preview-canvas"></canvas>
        <mat-form-field class="name">
            <mat-label>Nom du Dessin</mat-label>
            <input matInput [formControl]="drawingName" placeholder="Ex. dessin" />
            <mat-error *ngIf="drawingName.invalid"> Entrer un nom de dessin </mat-error>
        </mat-form-field>
    </p>

    <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" placeholder="Ex. patrick@hotmail.com" />
        <mat-error *ngIf="email.invalid"> Entrer un email </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
        <button id="buttonSendEmailPNG" (click)="sendEmailToPNG()">Envoyer en PNG</button>
        <button id="buttonSendEmailJPG" (click)="sendEmailToJPG()">Envoyer en JPG</button>
    </div>

    <mat-form-field appearance="outline" hintLabel="Filtre" class="export-input" id="export-filter-box">
        <mat-select
            [(ngModel)]="this.exportDrawingService.currentFilter"
            ngDefaultControl
            (ngModelChange)="applyFilter(this.exportDrawingService.currentFilter)"
        >
            <mat-option *ngFor="let filter of exportDrawingService.FILTERS" [value]="filter">
                {{ filter }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
        <button id="buttonCancel" mat-button mat-dialog-close>Annuler</button>
        <button id="buttonExportPNG" (click)="exportToPNG()">Exporter en PNG</button>
        <button id="buttonExportJPG" (click)="exportToJPG()">Exporter en JPG</button>
    </div>
</div>
