<div id="canvas-container">
  <canvas class="drawingCanvas" id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"
    style="border: 3px solid #000000" oncontextmenu="return false;"></canvas>
  <canvas class="drawingCanvas" id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"
    style="border: 3px dotted #000000" oncontextmenu="return false;"></canvas>
  <canvas class="drawingCanvas" id="gridCanvas" #gridCanvas [attr.width]="width" [attr.height]="height"
    style="border: 3px dotted #000000" oncontextmenu="return false;"></canvas>
    <div>
    <canvas *ngIf="openDialog == true" class="confitCanevas"  #animationCanvas [attr.width]="1920" [attr.height]="1080"></canvas>
    </div>
</div>