<div class="container">
    <h2>Traçage</h2>
    <div class="grid-input-value">
        <label for="fill">Remplissage</label>
        <input class="centered" name="fill" type="checkbox" [value]="hasFill" [(ngModel)]="hasFill" />
        <label for="contour">Contour</label>
        <input class="centered" name="contour" type="checkbox" [value]="hasContour" [(ngModel)]="hasContour" />
    </div>
    <div class="grid-confirmation" *ngIf="needConfirmation()">
        <button class="confirmation-button cancel" (click)="revert()">Annuler</button>
        <button class="confirmation-button confirm" (click)="assign()">Confirmer</button>
    </div>
</div>
