/*code used in this file was taken from https://getstream.io/blog/how-to-create-a-chat-app-with-angular-9/#signing-up-for-stream*/

/*Container*/
.container {
    box-sizing: border-box;
    height: 100vh;
    width: 300;
    background-color: rgb(139, 137, 137);
    border-right: 1px solid rgb(33, 33, 59);
    overflow: hidden;
    user-select: none;
	margin: auto;
}

/* Mesg/Msg/Message */
.mesgs {
	float: left;
	padding: 0px 15px 0px 5px;
	width: 100%;
    height: 100vh;
}

.msg_history {
	height: 77vh;
    width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.message {
	list-style-type: none;
}

/*Incoming*/
.incoming_msg_username {
	display: inline-block;
	font-size: 12px;
}

.incoming_msg {
	display: inline-block;
	padding: 0 0 0 5px;
	vertical-align: top;
	width: 100%;
}

.incoming_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 0px 5px 0px;
	width: 50%;
	word-break:break-word;
}

.incoming_msg_time {
	font-size: 10px;
}

/*Outgoing*/
.outgoing_msg {
	overflow:hidden;
	margin: 10px 0 10px;
}

.outgoing_withd_msg p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 0px 5px 0px;
	float: right;
	width: 50%;
	word-break:break-word;
}

.outgoing_msg_time p{
	font-size: 10px;
	padding-right: 5px;
	float: right;
}

/*Input message section*/
.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}
	/*Input*/
.input_msg_write {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	padding-bottom: 4px;
}

.write_msg{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: calc(100% - 100px);
}
	/*Buttons*/
.msg_send_div {
	position: absolute;
	right: 30px;
	top: 0px;
	width: 55px;
	height: 55px;
}

.msg_send_btn {
	color: #fff;
	font-size: 12px;
	height: 22px;
	width: 50px;
	line-height: 22px;
	text-align: center;
}
.windowButton{
    background: #05728f none repeat scroll 0 0;
    color: #fff;
	font-size: 12px;
    width: 75px;
}
.createButton{
	background: #05728f none repeat scroll 0 0;
	font-size: 12px;
    color: #fff;
    width: 90px;
}

.addButton{
	background: #05728f none repeat scroll 0 0;
	font-size: 12px;
    color: #fff;
    width: 120px;
}

.refreshList{
	background: #05728f none repeat scroll 0 0;
	font-size: 12px;
    color: #fff;
    width: 95px;
}

.hint{
	background-color: #008577;
}

.boutonBas{
	margin-left: 5px;
}
