#container {
    background-color: #483d8b;
    height: 100vh;
    display: flex;
    justify-content: center;
    #white {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        background-color: white;
        width: 500px;
        -webkit-box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 18.75rem -1.25rem rgba(0, 0, 0, 0.75);
    }
}

#form-group {
    width: 80vw;
    max-width: 21.875rem;
    display: flex;
    flex-direction: column;
    #email {
        margin-top: 0.9375rem;
    }
    #forgot-password-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.875rem;
        margin-top: 1.25rem;

        #forgot-password-button {
            width: 100%;
        }
    }
}
.title {
    text-align: center;
    color: #483d8b;
    width: 80vw;
    max-width: 21.875rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31.25rem;
}
#send_button {
    color: black;
    background-color: #483d8b;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}
