<div class="container container-grid">
    <div class="grid-area-panel">
        <app-attributes-panel class="attribute-fixed-offset"></app-attributes-panel>
    </div>
    <div class="grid-area-sidebar">
        <app-sidebar class="sidebar-fixed-offset"></app-sidebar>
    </div>
    <div class="grid-area-workspace" id="grid-workspace">
        <app-workspace class="workspace-fixed-offset"></app-workspace>
    </div>
    <div class="grid-area-chat">
        <app-textchat class="chat-fixed-offset"></app-textchat>
    </div>
</div>