<div class="container container-flex" id="sidebar-container">
    <div class=" buttons-group to-top">
        <button *ngFor="let tool of getListOfTools()" (click)="setCurrentTool(tool)" class="has-tooltip" [class.active]="tool === getCurrentTool()">
            <img [src]="tool.iconDirectory" [alt]="tool.name" />
            <app-tooltip [text]="formatTooltipMessage(tool)" class="tooltip"></app-tooltip>
        </button>
    </div>
    
    <div class="buttons-group to-bottom">
        <button (click)="undo()" class="to-bottom has-tooltip">
            <img src="assets/images/undo.png" />
            <app-tooltip [text]="messageUndo" class="tooltip"></app-tooltip>
        </button>
        <button (click)="redo()" class="to-bottom has-tooltip">
            <img src="assets/images/redo.png" />
            <app-tooltip [text]="messageRedo" class="tooltip"></app-tooltip>
        </button>
        <button *ngIf="!this.gameManagementService.inGame" (click)="openSaveDialog()" class="to-bottom has-tooltip">
            <img src="assets/images/icon/save_icon.png" />
            <app-tooltip [text]="messageSaveDialog" class="tooltip"></app-tooltip>
        </button>
        <button *ngIf="!this.gameManagementService.inGame" (click)="resetDrawing()" class="to-bottom has-tooltip">
            <img src="assets/images/icon/document_icon.png" />
            <app-tooltip [text]="messageNewDrawing" class="tooltip"></app-tooltip>
        </button>
        <button (click)="openGuide()" class="to-bottom has-tooltip">
            <img src="assets/images/icon/question_mark.png" />
            <app-tooltip [text]="messageUserGuide" class="tooltip"></app-tooltip>
        </button>
        <button (click)="navigateToMain()" class="to-bottom has-tooltip">
            <img home-image src="assets/images/icon/home_icon.png" />
            <app-tooltip [text]="messageBack" class="tooltip"></app-tooltip>
        </button>
    </div>
</div>
