<div id="container">
    <div id="white">
        <h2 class="title">Draw It Up!</h2>
        <div id="form-group" [formGroup]="resetPasswordForm">
            <mat-label>Saisissez votre adresse email pour réinitialisez votre mot de passe</mat-label>
            <mat-form-field id="email" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" />
                <mat-error *ngIf="this.resetPasswordForm.controls.email.invalid"> Veuillez saisir un e-mail valide </mat-error>
            </mat-form-field>
            <mat-error *ngIf="resetPasswordFail">Utilisateur non trouvé</mat-error>
            <div id="forgot-password-div">
                <mat-spinner *ngIf="waiting" diameter="25"></mat-spinner>
                <button id="send_button" *ngIf="!waiting" mat-flat-button color="primary" type="submit" (click)="resetPassword()">Envoyer</button>
            </div>
        </div>
    </div>
</div>
