<div class="container">
    <h2>Couleur</h2>
    <div class="grid-color-selected">
        <label class="centered area-label-color" for="primary-color secondary-color">Couleur</label>
        <label class="centered area-label-opacity" for="secondary-opacity secondary-opacity">Opacité</label>
        <input class="centered area-color-primary" name="primary-color" type="color" [value]="primaryColor" [(ngModel)]="primaryColor" />

        <input
            class="centered area-opacity-primary"
            name="primary-opacity"
            min="0"
            max="1"
            step=".01"
            type="number"
            [value]="primaryOpacity"
            [(ngModel)]="primaryOpacity"
            onkeydown="return false"
        />
    </div>
    <div class="grid-previous-colors">
        <button
            *ngFor="let color of getListOfPreviousColors()"
            (click)="selectPrimaryColorsQuick(color)"
            (contextmenu)="selectSecondaryColorQuick(color)"
            [style]="'background-color:' + color"
            oncontextmenu="return false"
        ></button>
    </div>
    <div class="confirmation-zone">
        <div class="grid-confirmation" *ngIf="needConfirmation()">
            <button class="confirmation-button cancel" (click)="revert()">Annuler</button>
            <button class="confirmation-button confirm" (click)="assign()">Confirmer</button>
        </div>
        <div class="centered" *ngIf="!needConfirmation()">
            <p>Sélectionner les couleurs</p>
        </div>
    </div>
</div>
