<div class="container">
    <h2>Espacement</h2>
    <div class="grid-input-value">
        <div class="centered">
            <label for="width" style="display: none">Distance</label>
            <input type="range" [step]="stepSize" [min]="getMinValue()" [max]="getMaxValue()" [value]="spacingDisplayed" [(ngModel)]="spacingDisplayed" />
        </div>
        <p class="centered">{{ spacingDisplayed }} px</p>
    </div>
    <div class="grid-confirmation" *ngIf="needConfirmation()">
        <button class="confirmation-button cancel" (click)="revert()">Annuler</button>
        <button class="confirmation-button confirm" (click)="assign()">Confirmer</button>
    </div>
</div>
